<mat-card>
  <nav>
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-button>
        <a routerLink="/first-component"
           routerLinkActive="active">Rain</a>
      </button>
      <button mat-button>
        <a routerLink="/second-component"
           routerLinkActive="active">Second Component</a>
      </button>
      <button mat-button>
        <a routerLink="/third-component"
           routerLinkActive="active">Grow</a>
      </button>
      <button mat-button>
        <a routerLink="/flower"
           routerLinkActive="active">Flower</a>
      </button>
      <button mat-button>
        <a routerLink="/circle"
           routerLinkActive="active">Circle</a>
      </button>
      <button mat-button>
        <a routerLink="/franz"
           routerLinkActive="active">Franz Kafka</a>
      </button>
    </div>
  </nav>
</mat-card>
